.Input,
select,
textarea,
option {
	width: 100%;
	display: block;
	margin: 10px;
	box-sizing: initial;
	padding: 0;
	margin: 0;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	color: grey;
}

.Input::placeholder,
select::placeholder,
textarea::placeholder {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	color: grey;
}

label {
	display: block;
	margin-bottom: 10px;
}

.InvalidInput {
	border: 2px solid red !important;
}

.DescriptionLabelMessage {
	font-size: 12px;
}

.InputValidationErrorText {
	color: red;
}
