@import url("https://fonts.googleapis.com/css?family=Londrina+Sketch");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

// fonts
.headline {
	font-family: "Londrina Sketch", cursive;
	font-size: 44px;
	font-weight: bold;
}

.placeholder-font {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

.navitems-font {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 14px;
}
